table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #fbe;
}

th,
td {
    text-align: left;
    padding: 4px 8px;
    min-width: 80px;
}

td:first-child {
    min-width: 210px;
}

td:nth-child(2) {
    min-width: 300px;
}

.number {
    text-align: right;
}

a {
    color: black;
}

.pagination {
    display: inline-block;
}

thead {
    position: sticky;
    top: 0;
}

thead th {
    background-color: #fff;
    /* Background color on thead is drawn above border unless we also have this. */
    background-clip: padding-box;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 4px 0;
    border: 1px solid #000;
    display: inline-block;
    left: 0;
}

/*
Loading animation
*/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}
.lds-ellipsis div {
    position: absolute;
    top: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
