table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #fbe;
}

th,
td {
    text-align: left;
    padding: 4px 8px;
    min-width: 80px;
}

td:first-child {
    min-width: 210px;
}

td:nth-child(2) {
    min-width: 300px;
}

.number {
    text-align: right;
}

a {
    color: black;
}

.pagination {
    display: inline-block;
}

thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    background-clip: text; /* Background color on thead is drawn above border unless we also have this. */
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 4px 0;
    border: 1px solid #000;
    display: inline-block;
    left: 0;
}
